:root {
    --white: #fff;
    --light-pink: #FFE6EF;
    --pink: #EC2B7A;
}

@font-face {
    font-family: "Karlson";
    src:
        local("karlson"),
        url("../font/karlson.woff2") format("woff2"),
        url("../font/karlson.woff") format("woff"),
        url("../font/karlson.eot") format("emmeded-opentype");
    font-weigth: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TransformaScript_Trial";
    src:
        local("TransformaScript_Trial-Regular"),
        local("TransformaScript_Trial Regular"),
        url("../font/TransformaScript_Trial-Regular.woff2") format("woff2"),
        url("../font/TransformaScript_Trial-Regular.woff") format("woff"),
        url("../font/TransformaScript_Trial-Regular.eot") format("emmeded-opentype");
    font-weigth: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    font-family: "TransformaScript_Trial", sans-serif;
    padding-top: 3.75rem;
    color: var(--pink);
}

p {
    font-size: 1.25rem;
}

article {
    width: min(100%, 30rem);
    background-color: var(--light-pink);
    padding-top: 3.125rem;
    overflow-x: hidden;
}

h1 {
    font-family: "Karlson", sans-sarif;
    font-size: 7.5rem;
    margin-left: 1.25rem;
}

.title p {
    font-size: 2rem;
    text-align: right;
    margin-right: 3.125rem;
    margin-top: -2.5rem;
    -webkit-text-stroke: 10px var(--light-pink);
    /* обводка накладывается на текст, но мы это исправляем ниже */
    paint-order: stroke fill;

}

.garland {
    width: 120%;
    transform: rotate(-12deg);
    margin-left: -1.25rem;
}

.cat {
    width: 100%;
    margin-top: 1.875rem;
}

.first>p {
    text-align: right;
    padding-right: 1.25rem;
    margin-top: -9.375rem;
}

.second {
    margin-top: 9.375rem;
    text-align: center;
}

h2 {
    font-family: "Karlson";
    font-size: 2rem;

    -webkit-text-stroke: 5px var(--white);
    /* обводка накладывается на текст, но мы это исправляем ниже */
    paint-order: stroke fill;
    line-height: 1.5;

}

.second>img {
    width: 80%;
    margin-bottom: 1.875rem;
}

.text-one {
    text-align: right;
}

.text-one>p {
    text-align: left;
    padding-left: 1.25rem;
}

.text-one>img {
    width: 15%;
    text-align: right;
    margin-right: 1.25rem;
    margin-top: -5%;
}

.text-two {
    text-align: left;
}

.text-two>img {
    width: 20%;
    margin-left: 1.25rem;
    margin-top: -8.125rem;
}

.text-two>p {
    text-align: right;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}

.text-two>p:first-child {
    margin-bottom: 2.5rem;
    margin-top: 1.875rem;
}

.two-heart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pink);
    padding: 1.875rem 0;
    margin-top: 1.875rem;
}

.two-heart>p {
    color: var(--light-pink);
    font-size: 1.5rem;
}

.two-heart>img {
    width: 6.25rem;
    height: 6.25rem;
}

.second>p {
    margin: 1.875rem 1.25rem;
}

.second>img:last-child {
    width: 120%;
    margin-left: -10%;
    margin-top: -1.875rem;
}

.date-time {
    margin-top: 6.25rem;
}

.date-time>h2 {
    text-align: center;
    margin-bottom: 1.875rem;
}

.dates {
    position: relative;
    display: flex;
    margin-left: -1.25rem;
    z-index: 2;
}

.dates>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: solid 1px var(--pink);
    flex-grow: 1;
}

.dates>div>p:first-child {
    font-size: 0.75rem;
}

.dates>div>p:nth-child(2) {
    font-family: "Karlson", sans-serif;
    font-size: 4rem;
    margin: 6.25rem 0;
}

.date-time>img {
    /* position: relative;
    width: 85%;
    margin-top: -20.625rem;
    z-index: 1;
    margin-left: -2.5rem; */
    width: 100%;
}

.date-time>p:last-child {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 9.375rem;
}

.place>h2 {
    text-align: center;
    margin: 0 20px;
}


.place>div {
    display: flex;
    align-items: center;
    width: 120%;
    margin-top: -1.25rem;
}

.place>div>p {
    margin-left: 1.25rem;
    /* flex-basis: 25rem; */
}

.place>div>img {
    width: 18.75rem;

}

.place {
    margin-bottom: 6.25rem;
}

.plane {
    text-align: center;
}

.plane>p:nth-child(2) {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

.plane>p:nth-child(3) {
    margin-bottom: 1.875rem;
}

.plane>div {
    position: relative;
}

.plane>div>img:nth-child(2) {
    width: 80%;
    margin-top: -60%;
    transition: 1s;
}

.plane>div>img:nth-child(2):hover {
    margin-top: 1.25rem;
}

.plane>div>img:first-child {
    width: 70%;
}


.last {
    background-color: var(--pink);
    color: var(--light-pink);
    text-align: center;
    padding: 1.875rem 1.25rem;
    margin-top: 9.375rem;
}

.last>h2 {
    color: var(--pink);
    margin-bottom: 10px;
}

.last>p:nth-child(3) {
    margin-bottom: 1.25rem;
}

.last>img {
    width: 100%;
}

.last>p:nth-child(5) {
    text-align: right;
    margin-top: 1rem;
}

.dress-code{
    text-align: center;
    margin-bottom: 6.25rem;
}

.dress-code>h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.dress-code>img{
    margin-top: 1.25rem;
    width :90%;
    margin-bottom: 1rem;
}

.dress-code>p{
    margin-bottom: 1.875rem;
}

.dress-code>p:nth-child(4){
    padding: 20px;
    background-color:#F9A9C8;
}
.taxi{
    text-align:center;
    margin-bottom: 6.25rem;
}

.taxi>h2{
    margin-bottom: 1.25rem;
}

.taxi>img{
    width: 90%;
}

.taxi span{
    font-size: 2.5rem;
}



@media (max-width: 480px) {
    body {
        padding-top: 0px;
    }

    h1{
        font-size: clamp(4.875rem, 0.1rem + 24.6vw,7.5rem);
    }

    .title p{
        margin-right: clamp(1.25rem, 0.125rem + 10vw,3.125rem);
        margin-top: clamp(-1.75rem, -0.125rem - 5.8rem,-2.5rem);
    }

    .first>p{
        margin-top: clamp(-5rem, -0.125rem - 1.6vw,-9.375rem);
    }
}